<h1>Add you User</h1>

<form action="/users/create" method="post" class="form">
    <div class="form-control">
        <label for="name"> Name: </label>
        <input type="text" name="name" placeholder="Write you name: ">
    </div>

    <div class="form-control">
        <label for="occupation"> Occupation: </label>
        <input type="text" name="occupation" placeholder="Write you occupation: ">
    </div>

    <div class="form-control form-checkbox">
        <input type="checkbox" name="newsletter" checked>
        <label for="newsletter"> want to receive our newsletter?</label>  

    </div>
    <input type="submit" value="Submit">


</form>